html, body {
    height: 100%;
}

body {
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    margin: 0;
}

.app {
    height: 100%;
    display: flex;
    flex-flow: column;
}

header > span {
    font-size: 38px;
    letter-spacing: .1rem;
    margin: 8px;
}

main {
    flex: 1;
    display: grid;
    place-items: center;
}

footer {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-idea-box {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
}

.github-link-icon {
    display: flex;
    align-items: center;
    margin-left: 8px;
    padding: 0 8px;
}

.github-link-icon svg {
    margin-right: 8px;
}

* {
    outline: none;
}

*:focus-visible {
    animation: outline 105ms cubic-bezier(0.4, 0, 1, 1) forwards;
}

@keyframes outline {
    from {
        box-shadow: 0px 0px 0px 0px transparent;
    }
    to {
        box-shadow: 0px 0px 0px 3px var(--primary-light-a08);
    }
}

::-webkit-scrollbar {
    width: 4px;
    border-radius: 16px;
}

::-webkit-scrollbar-track {
    background: var(--overlay-1);
}
  
::-webkit-scrollbar-thumb {
    background: var(--on-overlay);
    border-radius: 16px;
}