@import url(theme.css);
@import url(normalize.css);

@import url(outline.css);
@import url(scroller.css);

@import url(components/index.css);

/* App */

.app {
    display: grid;
    place-items: center;
    block-size: 100%;
}

/* App restrain */

app-restrain {
    width: 428px;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* Header */

header {
    padding-top: 4px;
}

header > h1 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 3rem;
}

header > small {
    font-size: .9rem;
    margin-left: .5ch;
}

/* Main */

main {
    margin: auto 0;
}

/* Footer */

footer {
    align-items: center;
    display: flex;
    height: 42px;
    justify-content: center;
}