:root {
    --overlay-0: #121212;
    --overlay-1: #272727;
    --overlay-2: #353535;

    --primary: #64b5f6;
    --primary-light: #9be7ff;
    --primary-light-a08: #99e7ffcc;
    --primary-dark: #9be7ff;

    --on-overlay: #ffffff;
    
    --shadow-0: #000000;
    --shadow-1: #0000009e;
    --border: #373737;
}

html {
    background-color: var(--overlay-0);
    color: var(--on-overlay);
}