:root {
    --hue: 240;

    --surface-1: hsl(var(--hue) 2% 12%);
    --surface-2: hsl(var(--hue) 1% 16%);

    --text-1: hsl(var(--hue) 10% 92%);

    --border: hsl(var(--hue) 2% 20%);

    --brand-1: hsl(var(--hue) 80% 67%);

    --shadow-0: hsl(var(--hue) 6% 2%);
    --shadow-1: hsl(var(--hue) 6% 2%);
}

html {
    background-color: var(--surface-1);
    color: var(--text-1);
}