:root {
    --overlay-0: #121212;
    --overlay-1: #272727;
    --overlay-2: #353535;

    --on-overlay: #ffffff;
    
    --shadow-0: #000000;
    --border: #373737;
}

html {
    font-family: 'Roboto Mono', monospace;
}

body {
    height: 100vh;
}

body, h1 {
    margin: 0;
}

input {
    display: block;
}

footer {
    height: 42px;
    display: flex;
    justify-content: center;
}

main {
    flex: 1;
}

button {
    display: inline-flex;
    justify-content: center;
    background: var(--overlay-0);
    color: var(--on-overlay);
    border: 1px solid var(--border);
    padding: 8px 12px;
    border-radius: 4px;
}

.thm-dark {
    background-color: var(--overlay-0);
    color: var(--on-overlay);
}

.page-title {
    margin: 16px;
    line-height: 22px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.epic-input {
    padding: 9px 16px;
    border-radius: 16px;
    border: none;
    width: 250px;
    background: var(--overlay-1);
    color: var(--on-overlay);
    height: 18px;
    box-shadow: 1px 2px 4px -2px var(--shadow-0);
}

.conversion-box {
    display: inline-flex;
    align-items: center;
    margin: auto;
}

.inversion-button {
    margin: 18px 0px;
}