:root {
    --overlay-0: #121212;
    --overlay-1: #272727;
    --overlay-2: #353535;

    --on-overlay: #ffffff;
    
    --shadow-0: #000000;
    --border: #373737;
}

::-webkit-scrollbar {
    width: 4px;
    border-radius: 16px;
}

::-webkit-scrollbar-track {
    background: var(--overlay-1);
}
  
::-webkit-scrollbar-thumb {
    background: var(--on-overlay);
    border-radius: 16px;
}

html {
    font-family: 'Roboto Mono', monospace;
}

body {
    height: 100vh;
}

body, h1 {
    margin: 0;
}

hr {
    width: 100%;
    border-top: 1px;
}

input {
    border: none;
    color: inherit;
    background: inherit;
    padding: 14px 18px 14px 44px;
    border-radius: 16px;
    width: 252px;
    outline: none;
}

textarea {
    resize: none;
    border-radius: 4px;
    background-color: var(--overlay-1);
    border: none;
    color: var(--on-overlay);
    font: inherit;
    font-size: 18px;
    outline: none;
    width: 100%;
}

input,
textarea:read-only {
    opacity: .5;
}

footer {
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
}

button {
    --internal-button-color: var(--button-color, var(--on-overlay));
    display: inline-flex;
    justify-content: center;
    background: var(--overlay-0);
    color: var(--on-overlay);
    border: 1px solid var(--border);
    padding: 8px 12px;
    border-radius: 4px;
    outline: none;
    position: relative;
    cursor: pointer;
    background: var(--overlay-1);
    color: var(--internal-button-color);
}

button:hover:after {
    opacity: .3;
    transform: scale(1);
}

button:active:after {
    opacity: .5;
}

button:after {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transform: scale(0);
    border-radius: inherit;
    background: var(--internal-button-color);
    transition: opacity 120ms linear, transform 120ms linear;
}

a {
    text-decoration: none;
    color: var(--on-overlay);
}

a:hover {
    text-decoration: underline;
}

.thm-dark {
    background-color: var(--overlay-0);
    color: var(--on-overlay);
}

.page-title {
    margin: 16px;
    line-height: 22px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
}

.epic-input {
    position: relative;
    background: var(--overlay-1);
    display: inline-flex;
}

.epic-input label {
    position: absolute;
    left: 16px;
    font-style: italic;
    font-size: 14px;
    line-height: 14px;
}

.conversion-box {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: auto;
    position: relative;
    background: var(--overlay-1);
    border-radius: 16px;
    box-shadow: 1px 2px 4px -2px var(--shadow-0);
    padding: 16px;
    width: 392px;
}

.conversion-box > :first-child {
    margin-bottom: 16px;
}

.conversion-box > :last-child {
    margin-top: 16px;
}

.inversion-button {
    border-radius: 50%;
    padding: 12px;
    position: absolute;
    border: none;
    z-index: 1;
    border-radius: 50%;
    align-self: center;
}

.app-idea-box {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
}

.github-link-icon {
    display: flex;
    align-items: center;
}

.github-link-icon svg {
    margin: 0px 8px 0 14px;
}